# Build and Release Folders
./build
./tests
./autowire.egg-info

# Other files and folders
./*/.cursorrules
# ./autoregfile/.cursorrules
# ./autosgdc/.cursorrules
# ./autotest/.cursorrules
# ./autowire/.cursorrules
./cursorrules


# Executables
*.swf
*.air
*.ipa
*.apk
*.swp
*.log
*.fsdb


