# Build and Release Folders
./build
./autowire.egg-info
./tests

# Other files and folders
./autoregfile/.cursorrules
./autosgdc/.cursorrules
./autotest/.cursorrules
./autowire/.cursorrules
./cursorrules
